.FirstInformation{
    height: fit-content;
    padding: 100px;
}

.FirstInformation ol {
    width: 100%;
    
    display: flex;
}

.FirstInformation ol li{
    transform: scale(0.9);
    width: 50%;
    height: 100%; 
}
.FirstInformation ol li img{
    width: 80%;
    height: 70%;
    margin: 0 auto;
}

.text-inf{
    margin-top: 50px;
}
.FirstInformation ol li p{
    margin: 0 auto;
    font-family: cambria;
    color: black;
    font-size: 24px;
    text-align: left;
}

.informations{
    border: 2px rgba(0, 0, 0, 0.26) solid;
    padding: 20px; 
    margin-bottom: 50px;
}

.informations:hover{
    transform: scale(0.9);
}

@media screen and (max-width: 1000px) {
    .FirstInformation{
        padding: 20px;
    }
    .FirstInformation div{
        border: 2px rgba(0, 0, 0, 0.178) solid;
    }
    .informations {
        margin-bottom: 20px;
    }
    .informations:hover {
        transform: scale(0.9);
    }
    .informations ol{
        display:grid;
    }
    .informations ol li{
        width: auto;
        height: auto;
    }

    .informations ol li p {
        font-size: 15px;
        
    }
    .img-inf{
        order: 1;
    }
    #img-inf{
        width: 100%;
        height: 100%;
        border-bottom: 2px rgba(0, 0, 0, 0.178) solid;
    }
    .text-inf{
        order: 2;
        padding: 20px;
    }
    
    
}