.footer{
    background-color: #365B6D;
    width: auto;
}

.move{
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 100px;
    margin-right: 20%;
}
.footer-col{
    margin-right: 10%;
    width: max-content;
    height: auto;
}

.footer-col ul li{
    margin-bottom: 5px;
}

.footer-col ul li a {
    text-decoration: none;
    color: white;
}
.footer-col h4{
    color: white;
    margin-bottom: 10px;
    text-decoration:underline;
    text-transform: uppercase;

}



.copyright{
    color: white;
}

@media screen and (max-width: 1000px) {
    .move{
        font-size: 20px;
        display: block;
    }
    .move div {
        margin-bottom: 50px;
    }
}